{
  "db": {
    "type": "psql",
    "path": "...",
    "username": "...",
    "password": "...",
    "tables": [{
      "name": "...",
      "ckan_name": "..."
    }]
  },
  "ckan": {
    "api_token": "...."
  },
  "details": {
    "organization": "....",
    "name": "....",
    "title": "...."
  },
  "source": {
    "path": "..."
  }
}
